:root{

}


body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

h1,h2,h3{
    font-family: var(--nice);
}

h1{
    font-size: 32px;
}

h2{
    font-size: 22px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;

    & a {
        text-decoration: none;
        padding: 0.8rem;
        text-wrap: nowrap;
        color: aliceblue;
        background-color: #013476;
        border-radius: 1.5rem;
        width: fit-content;

        &:hover{
            background-color: rgb(243, 208, 10);
            color: #013476;
        }
    }
}